---
layout: page
title: Staff
permalink: /staff/
---

<p>
    For logistics and administrative questions, please email cs170@ (a private
    email that is only seen by the head TAs and professors). <br />
    <span class="text-muted"> Append berkeley.edu to all emails. </span>
</p>

<h2 class="mv-5">Instructors</h2>

<div class="row">{% include staff-list.html type="Instructor" %}</div>

<h2 class="mv-5">TAs</h2>

<div class="row">
    {% include staff-list.html type="Head TA" %} {% include staff-list.html
    type="Project TA" %} {% include staff-list.html type="Content TA" %} {%
    include staff-list.html type ="Teaching Pedagogy TA" %} {% include
    staff-list.html type="TA" %}
</div>

<h2 class="mv-5">Readers</h2>

<div class="row">{% include staff-list.html type="Reader" %}</div>
