---
layout: page
title: Discussions
permalink: /schedule/discussions/
---

{% assign days = 'Monday, Tuesday, Wednesday, Thursday, Friday' | split: ', ' %}

<div class="d-none d-md-block sticky-top">
    <div class="row py-3 discussion-row top-discussion-row px-2">
        <div class="col-md-2">
            <strong>Time</strong>
        </div>
        {% for day in days %}
        <div class="col-md-5">
            <div class="row">
                <strong>{{ day }}</strong>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% for i in (9..16) %} {% include hr-format.html i=i %} {% assign start_time_mm
= time_mm %} {% assign hr_start = hr %} {% assign j = i | plus: 1 %} {% include
hr-format.html i=j %} {% assign stripe = i | modulo: 2%}

<div
    class="row obj-hover py-2 discussion-row px-2 {% if forloop.first %} discussion-row-first {% endif %} {% if forloop.last %} discussion-row-last {% endif %} {% if stripe == 0 %} discussion-row-stripe {% endif %}"
>
    <div class="col-md-2 hidden-xs hidden-sm d-none d-md-block">
        {{hr_start}}-{{time}}
    </div>

    {% for day in days %} {% assign day_discussions = site.data.discussions |
    where:"day", day | where:"time", start_time_mm %}

    <div class="col-md-5">
        <!-- <div class="row"> -->
        {% for dis in day_discussions %} {% assign members = site.staff |
        where:"name",dis.ta %} {% assign member = members.first %} {% assign
        img_url = '/assets/staff-images/' | append: member.image | relative_url
        %}
        <div class="row">
            <div class="media mb-3">
                <div
                    style="background-image: url({{ img_url }})"
                    class="mr-3 rounded-circle staff-image staff-image-sm"
                ></div>
                <div class="media-body">
                    <h5>{{ dis.ta }}</h5>
                    <p class="my-1">
                        {{ dis.location }} &bull;
                        <span class="text-muted"
                            >{{dis.shortday}}
                            {{hr_start}}-{{hr}}{{meridiem}}</span
                        >
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- </div> -->
    </div>
    {% endfor %}
</div>
{% endfor %}
